.myClass{
   font-weight: 700;
   font-size: 25px;
   color: rgba(36, 36, 201, 0.897);
}

.myClass1{
  font-size: 15px;
  font-weight: 600;
  color: rgb(14, 13, 13);
}

.myClass2{  background-color: rgb(62, 118, 240); /* Green background */
  color: white; /* White text */
  font-size: 18px; /* Larger font size */
  height: 43px; /* Increased height */
  width: 150px; /* Increased width */
  border: none;
  border-radius: 20px; /* Optional: rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

.header{
  width: 82%;
}

