
.topform {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 80px;
  flex-wrap: wrap; 
}

.formClass {
  width: 100%;
  max-width: 390px;
  margin: 0 10px; 
}

.form {
  margin: 40px;
}

.para1 {
  font-size: 1.5rem; 
  font-weight: 500;
  color: rgb(85, 84, 84);
}

.para2 {
  font-size: 1rem; 
  font-weight: 500;
  color: rgb(105, 102, 102);
}

.para3 {
  font-size: 1rem; 
  font-weight: 450;
  color: rgb(73, 70, 70);
  margin: 16px 0 5px 0;
}

.input {
  width: 100%;
  max-width: 90%; 
  border: 0.5px solid rgb(207, 202, 202);
  height: 37px;
  border-radius: 5px;
}

.create {
  width: 100%; 
  max-width: 90%;
  border: none;
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: 400;
}

.createTop {
  margin: 15px 0;
}

@media (max-width: 768px) {
  .para1 {
    font-size: 1.2rem;
  }

  .para2, .para3 {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .topform {
    flex-direction: column; 
    margin: 30px 40px 50px 40px;
  }

  .formClass {
    margin: 0 5px; 
  }

  .para1 {
    font-size: 1rem;
  }

  .para2, .para3 {
    font-size: 0.75rem;
  }
}
