.doctor_profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.profile_header {
    display: flex;
    gap: 40px; 
    margin-bottom: 30px;
    margin-top: 20px;
    flex-wrap: wrap; 
}

.doctor_image {
    width: 100%; 
    max-width: 230px; 
    height: auto; 
    border-radius: 10px;
    margin-bottom: 20px;
}

.doctor_info h2 {
    font-size: 1.375rem;
    font-weight: 550;
    color: #252525;
    margin-bottom: 5px;
}

.verified_badge {
    color: blue;
    font-size: 1.25rem; 
}

.degree {
    font-size: 1rem; 
    color: #555;
}

.about {
    font-size: 1.2rem; 
    color: #242323;
    margin-bottom: 2px;
}

.whole {
    font-size: 1rem; 
    color: rgb(65, 63, 63);
    font-weight: 550;
    margin-left: 5px;
}

.booking_section h3 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 1.875rem; 
    font-weight: 500;
}

.date_selector, .time_selector {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.time-button, .date-button{
    padding: 8px 12px;
    border: 1px solid #1eb82b; 
    font-size: 1.875rem; 
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.date_button.selected, .time_button.selected {
    background-color: #3b82f6;
    color: #fff;
    border: none;
}

.date_button:hover, .time_button:hover {
    background-color: #e5e5e5;
}

.book_appointment {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem; 
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book_appointment:hover {
    background-color: #2563eb;
}


@media (max-width: 768px) {
    .profile_header {
        gap: 10px; 
    }

    .doctor_image {
        max-width: 200px; 
    }

    .doctor_info h2 {
        font-size: 1.2rem; 
    }

    .verified_badge {
        font-size: 1.1rem; 
    }

    .degree, .about, .whole, .booking_section h3 {
        font-size: 1rem; 
    }

    .doctor_profile {
       margin-left: 70px;
    }
}

@media (max-width: 480px) {
    .profile_header {
        gap: 5px;
    }

    .doctor_image {
        max-width: 150px;
    }

    .doctor_info h2 {
        font-size: 1rem; 
    }

    .verified_badge {
        font-size: 0.875rem; 
    }

    .degree, .about, .whole, .booking_section h3 {
        font-size: 0.875rem; 
    }
}

